--- 
# Only the main Sass file needs front matter (the dashes are enough) search: false 
--- 
@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

a {
  color: #286192;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active, &:visited {
    color: #286192;
  }
}

i {
  color: #000;

  &:hover, &:active, &:visited {
    color: #000;
  }
}

.label {
  color: #286192 !important;
  text-decoration: none;
  cursor: pointer;

  &:hover, &:active, &:visited {
    color: #286192 !important;
  }
}

.masthead__menu a {
  color: #000;
  text-decoration: none; 
  font-size: 20px;
  background-color: #ffffff;

  &:hover,
  &:active,
  &:visited {
    color: #000;
    text-decoration: none;
  }
}

.masthead__menu .site-title {
  font-size: 25px;
}




$monospace: Monaco, Consolas, "Lucida Console", monospace !default;
$caption-font-family: $monospace !default;

$color: #286192 !default;

$info-color: #286192 !default;
$link-color: #286192 !default;
$link-color-hover : mix(#000, $link-color, 25%) !default;
$link-color-visited : mix(#fff, $link-color, 25%) !default;

.fa-cog {
  color: black !important;
}

.icon-cog {
  color: black !important;
}

body {
  font-size: 18px; 
  color: #000;
}

// .archive__subtitle {
//   font-size: 1.25em;
// }

// .archive__item-title { 
//   font-size: 16px;
//   margin-top: 15px;
// }

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 30px; // originally 16px

  ul li {
    padding: -5px 0px -5px;
    margin-bottom: 1px;
  }

  @include breakpoint($medium) {
    // font-size: 18px;
    font-size: 12px;
  }

  @include breakpoint($large) {
    // font-size: 20px;
    font-size: 14px;
  }

  @include breakpoint($x-large) {
    // font-size: 22px;
    font-size: 16px;
  }
}


// @media (max-width: 600px) {
//   /* Hide the Follow button */

//   /* Hide just the text label next to icons */
//   .author__urls .label {
//     display: none !important;
//   }

//   /* Make sure icons are still visible and clickable */
//   .author__urls a {
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     padding: 8px;
//   }

//   /* Optional: style icons to make them visible */
//   .author__urls i {
//     font-size: 1.2em;
//     margin: 0;
//   }
// }

