---
---

<div class="row justify-content-start">
  <div class="col- abbr">
  {% if entry.abbr %}
    {% if site.data.venues[entry.abbr] %}
    <abbr class="badge"><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
    {% else %}
    <abbr class="badge">{{entry.abbr}}</abbr>
    {% endif %}
  {% endif %}
  </div>

  <div id="{{entry.key}}" class="col-" style="display: inline">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      {% if entry.website %}
        <div class="title"><a href="{{entry.website}}" target="_blank"><b>{{entry.title}}</b></a></div>
      {% else %}
        <div class="title"><b>{{entry.title}}</b></div> 
      {% endif %}
      <div class="author" style="display: inline">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <b>{{author.first}} {{author.last}}</b>.
            {% else %}
              {{author.first}} {{author.last}}
            {% endif %}
          {% elsif forloop.length == 2 %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <b>{{author.first}} {{author.last}}</b>
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                  {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <b>{{author.first}} {{author.last}}</b>.
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>.
                {% else %}
                  and {{author.first}} {{author.last}}.
                {% endif %}
              {% endif %}
            {% endunless %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <b>{{author.first}} {{author.last}}</b>,
              {% elsif author.last == 'et-al' %}
                ...
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
                and <b>{{author.first}} {{author.last}}</b>.
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>.
                {% else %}
                  and {{author.first}} {{author.last}}.
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
    
      </div>
      
      <div class="periodical">
      {% if entry.type == "article" %}
        {{entry.status}}
        {% if entry.journal %}
          {% if entry.issue %}
            <em>{{entry.journal}}</em>, {{entry.issue}}, {{entry.year}}.
          {% elsif entry.year %}
            <em>{{entry.journal}}</em>, {{entry.year}}.
          {% else %}
            <em>{{entry.journal}}.</em>
          {% endif %}
        {% endif %}

        {% if entry.arxiv %}
          <a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">[arXiv]</a>
        {% endif %}

        {% if entry.html %}
          <a href="{{ entry.html }}" target="_blank">[html]</a>
        {% endif %}

        {% if entry.pdf %}
          {% if entry.pdf contains '://' %}
            <a href="{{ entry.pdf }}" target="_blank">[pdf]</a>
          {% else %}
            <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" target="_blank">[pdf]</a>
          {% endif %}
        {% endif %}

        {% if entry.code %}
          <a href="{{ entry.code }}" target="_blank">[code]</a>
        {% endif %}

      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}

      </div>

    {% endif %}

<!--
    <div class="links" style="display: inline">

    </div>
    


    {% if entry.supp %}
      {% if entry.supp contains '://' %}
      <a href="{{ entry.supp }}" target="_blank">[supp]</a>
      {% else %}
      <a href="{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}" target="_blank">[supp]</a>
      {% endif %}
    {% endif %}

    {% if entry.blog %}
      <a href="{{ entry.blog }}" target="_blank">Blog</a>
    {% endif %}

    {% if entry.code %}
    <a href="{{ entry.code }}" target="_blank">[code]</a>
    {% endif %}

    {% if entry.software %}
    <a href="{{ entry.software }}" target="_blank">[software]</a>
    {% endif %}

    {% if entry.poster %}
      {% if entry.poster contains '://' %}
      <a href="{{ entry.poster }}" target="_blank">[poster]</a>
      {% else %}
      <a href="{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}" target="_blank">[poster]</a>
      {% endif %}
    {% endif %}

    {% if entry.slides %}
      {% if entry.slides contains '://' %}
      <a href="{{ entry.slides }}" target="_blank">[slides]</a>
      {% else %}
      <a href="{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}" target="_blank">[slides]</a>
      {% endif %}
    {% endif %}
    
    </div-->

    <!-- Hidden abstract block -->
    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}

    <!-- Hidden bibtex block -->
    {% if entry.bibtex_show %}
    <div class="bibtex hidden">
      {% highlight bibtex %}{{ entry.bibtex }}{% endhighlight %}
    </div>
    {% endif %}
  </div>
</div>
